header.header
  h2.header-logo 
    a(href='/') Thang Travel

  ul.header-menu-list
    li.header-menu-item
      a(href='/') Home
    li.header-menu-item
      a(href='/about') About
    li.header-menu-item
      a(href='/admin') Admin
