doctype html
html(lang='en')

  head
    title Thang Travel | About page 
    link(rel='stylesheet', href='styles/style.css')

    body 
      include ./layouts/header.pug

      p About page

      include ./layouts/footer.pug

