doctype html
html(lang='en')


  head
    title Thang Travel | Admin page 
    link(rel='stylesheet', href='styles/style.css')

    body 
      include ./layouts/header.pug

      p Admin page

      include ./layouts/footer.pug

